<%= labelled_form_for([@project, @task_contractor], html: { multipart: true, id: 'task_contractor_form', class: 'tabular', remote: request.xhr? }) do |f| %>
  <%= error_messages_for @task_contractor %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="box">
      <% if task_contractor.safe_attribute?('name') %>
      <p>
        <%= f.label :name, ::TaskContractor.human_attribute_name(:name) %>
        <%= f.text_field :name %>
      </p>
      <% end %>
      
      <% custom_field_values = task_contractor.visible_custom_field_values %>
      <% custom_field_values.each do |value| %>
      <p>
        <%= custom_field_tag_with_label :task_contractor, value %>
      </p>
      <% end %>
      <% if false %>
        <p id="attachments_form"><label><%= l(:label_attachment_plural) %></label><%= render :partial => 'attachments/form', :locals => {:container => task_contractor} %></p>
      <% end %>
  </div>

  <% if !request.xhr? %>
    <p>
      <% if f.object.new_record? %>
        <%= submit_tag l(:button_create), title: l(:button_create), class: "button-positive" %>
      <% else %>
        <%= submit_tag l(:button_update), title: l(:button_update), class: "button-positive" %>
      <% end %>
    </p>
  <% end %>
<% end %>