<ul>
  <% if @task_contractor && !@task_contractor.new_record? %>
    <%= content_tag(:li, link_to(l(:button_edit), edit_polymorphic_path([@project, @task_contractor]), title: l(:button_edit), class: 'icon icon-edit button')) %>
  <% end %>
  <% if @task_contractor.nil? %>
    <%= content_tag(:li, link_to(l(:button_task_contractor_new), new_polymorphic_path([@project, :task_contractor]), title: l(:title_task_contractor_new), class: 'icon icon-add button button-positive')) %>
  <% end %>
  <%= content_tag(:li, link_to(l(:label_task_contractors), polymorphic_path([@project, :task_contractors], set_filter: '1'), title: l(:label_task_contractors), class: 'icon icon-folder button')) %>
</ul>
