<ul>
  <% if @task_contractor %>
    <li><%= context_menu_link l(:button_edit), edit_task_contractor_path(@task_contractor), class: 'icon icon-edit', disabled: !@can[:edit] %></li>
  <% end %>
  <% if @safe_attributes.include? 'status' %>
  <li class="folder">
    <a href="#" class="submenu icon icon-issue-status" onclick="return false;"><%= l(:field_status) %></a>
    <ul>
      <% TaskContractor.statuses.keys.each do |status| %>
        <li>
          <%= context_menu_link l("task_contractor.statuses.#{status}"), bulk_update_task_contractor_path(id: @task_contractor_ids, task_contractor: { status: status }, back_url: @back), method: :put, selected: (@selected[:status] == status), disabled: !@can[:edit], confirm: l(:text_are_you_sure) %>
        </li>
      <% end %>
    </ul>
  </li>
  <% end %>
  <li><%= context_menu_link l(:button_delete), task_contractor_path(id: @task_contractor_ids, back_url: @back), method: :delete, data: { confirm: l(:text_are_you_sure) }, class: 'icon icon-del', disabled: !@can[:delete] %></li>

  <%= call_hook(:view_task_contractors_context_menu_end, { task_contractor: @task_contractor, task_contractors: @task_contractors, can: @can, back: @back, project: @project }) %>
</ul>
