<%= title l(:heading_task_contractor_edit) %>

<%= render partial: 'form', locals: { task_contractor: @task_contractor } %>

<% ### PAGE CUSTOMS ########################################################## %>
<% content_for :sidebar do %>
  <%= render partial: 'task_contractors/sidebar' %>
<% end %>