var modal = $("#ajax-modal");
modal.html("<%= j render(template: 'task_contractors/edit', formats: [:html]) %>");
showModal(modal.attr("id"));
var submitButton = {
  text:"<%=j l(:button_update) %>",
  title:"<%=j l(:button_update) %>",
  click: function() {$(this).find('form').submit()},
  'class': 'button-positive'
};
var closeButton = {
  text: "<%=j l(:button_close) %>",
  title: "<%=j l(:button_close) %>",
  click: function() {$(this).dialog('close');},
  'class': 'button'
};
modal.dialog('option', {
  buttons: [closeButton, submitButton]
});
