var modal = $("#ajax-modal");
modal.html("<%= j render(template: 'task_contractors/index', formats: [:html]) %>");
showModal(modal.attr("id"));
var closeButton = {
  text: "<%=j l(:button_close) %>",
  title: "<%=j l(:button_close) %>",
  click: function() {$(this).dialog('close');},
  'class': 'button'
};
modal.dialog('option', {
  buttons: [closeButton, submitButton]
});
