
<div class="contextual">
  <% if User.current.allowed_to?(:add_task_contractors, @project, global: true) %>
    <%= link_to l(:button_task_contractor_new), new_task_contractor_path, class: 'icon icon-add' %>
  <% end %>
</div>
<h2><%= l(:label_task_contractors) %></h2>

<%= form_tag(task_contractors_path, method: :get, id: 'query_form') do %>
  <%= render partial: 'queries/query_form' %>
<% end %>

<% if @query.valid? %>
  <% if @entities.empty? %>
    <p class="nodata"><%= l(:label_no_data) %></p>
  <% else %>
    <%= render_query_totals(@query) %>
    <%= render partial: 'list', locals: { entities: @entities }%>
    <span class="pagination"><%= pagination_links_full @entity_pages, @entity_count %></span>
  <% end %>
<% end %>

