<h3 class="title"><%= l(:heading_task_contractor_new) %></h3>

<%= render partial: 'form', locals: { task_contractor: @task_contractor } %>

<% ### PAGE CUSTOMS ########################################################## %>
<% content_for :sidebar do %>
  <%= render partial: 'task_contractors/sidebar' %>
<% end %>