var modal = $("#ajax-modal");
modal.html("<%= j render(template: 'task_contractors/new', formats: [:html]) %>");

showModal(modal.attr("id"), '500px');
var submitButton = {
  text:"<%=j l(:button_create) %>",
  title:"<%=j l(:button_create) %>",
  click: function() {
    var form = $(this).find('form');
    var dialog = $(this);
    $.post(
      '/task_contractors/create_ajax',
      form.serialize(),
      function(data) {
        window.searchBoxResolve(data);
        dialog.dialog('close');
      }
    );
  },
  'class': 'button-positive'
};
var closeButton = {
  text: "<%=j l(:button_cancel) %>",
  title: "<%=j l(:button_cancel) %>",
  click: function() {$(this).dialog('close');},
  'class': 'button'
};
modal.dialog('option', {
  buttons: [closeButton, submitButton]
});


var form = modal.find('form');
form.on('keydown', function(event) {
  return event.key != "Enter";
});
