<%= title @task_contractor %>
<div class="issue">
  <table class="attributes">
    <%= render partial: 'redmine_extensions/custom_field_rows', locals: { custom_field_values: @task_contractor.visible_custom_field_values } %>
    <%= call_hook(:view_task_contractors_show_details_bottom, task_contractor: @task_contractor) %>
  </table>
  <% if @task_contractor.attachments.any? %>
    <hr />
    <%= link_to_attachments @task_contractor, thumbnails: true %>
  <% end %>
</div>
<% ### PAGE CUSTOMS ########################################################## %>
<% content_for :sidebar do %>
  <%= render partial: 'task_contractors/sidebar' %>
<% end %>
