.contractor_wrap {
    position: absolute;
    min-width: 400px;
    max-width: 600px;
    display: flex;
    align-items: center;
}

.contractor_new_button {
    margin-left: 8px;
}

.contractor_form {
    min-width: 400px;
    padding: 12px;
}

.contractor_cf {
    max-width: 300px;
}